<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a routerLink="/accueil"><img src="assets/images/logo.png" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
          </div>

          <form (ngSubmit)="loginUser()" #loginForm="ngForm">
            <div class="form-group mb-3">
              <label class="form-label" for="email">Username</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Username"
                name="username"
                [(ngModel)]="model.username"
                (keydown.enter)="loginUser()"
                required
              />
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="model.password"
                (keydown.enter)="loginUser()"
                required
              />
            </div>

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="text-danger mt-2">
              {{ errorMessage }}
            </div>

            <div class="d-flex mt-3 justify-content-between">
              <h5 class="text-secondary f-w-400">
                <a href="javascript:">Forgot Password?</a>
              </h5>
            </div>

            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
