# Ignore Angular build files
/node_modules
/dist
/.angular/cache

# Ignore Spring Boot build files
/target/
/.mvn/
/.idea/
/*.iml
/*.log

# Ignore environment files
/src/main/resources/application.properties
/src/main/resources/application-dev.properties
/src/main/resources/application-prod.properties

# Ignore IDE-specific files
.vscode/
.DS_Store