<li class="nav-item coded-hasmenu"
    id="collapse-{{item.id}}"
    [routerLinkActive]="['active']"
    [class.coded-trigger]="item.triggerExpansion">
      <a [routerLinkActive]="['active']" (click)="handleClick($event)">
    @if (item.icon) {
      <span class="coded-micon">
        <i antIcon [type]="item.icon" theme="outline"></i>
      </span>
    }
    <span class="coded-mtext">{{ item.title }}</span>
    <span class="coded-arrow">
      @if (item.id === 'my-clubs' ) {
        <i class="anticon anticon-loading"></i>
      } @else {
        <i class="anticon anticon-right"></i>
      }
    </span>
  </a>

  <ul class="coded-submenu" [routerLinkActive]="['active']" [ngClass]="item.classes!">
    
    @for (child of item.children; track child.id) {
      @if (child.type === 'item') {
        <app-nav-item [item]="child"></app-nav-item>
      } @else if (child.type === 'collapse') {
        <app-nav-collapse 
          [item]="child" 
          [shouldExpand]="child.shouldExpand"
          (dynamicCollapseClick)="dynamicCollapseClick.emit($event)"
          (showCollapseItem)="showCollapseItem.emit()">
        </app-nav-collapse>
      }
    }
  </ul>
</li>